@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.items-baseline > .nuxt-link-exact-active {
  border-bottom: 2px solid #d91139;
  color: #d91139;
}
.mobile-menu > .nuxt-link-exact-active {
  border-bottom: 2px solid #d91139;
  color: #d91139;
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}
.error-server {
  color: #d91139;
  font-size: 1.15rem;
  text-align: center;
  background: #d9113969;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.dashboard-menu .nuxt-link-active {
  --tw-text-opacity: 1;
  color: rgba(217, 17, 57, var(--tw-text-opacity));
  border-bottom: 2px solid #d91139;
}
.sidebar-icons .nuxt-link-active {
  --tw-text-opacity: 1;
  color: rgba(217, 17, 57, var(--tw-text-opacity));
  /* border-bottom: 1px solid #d91139; */
}
.sidebar-icons .nuxt-link-active span {
  --tw-text-opacity: 1;
  color: rgba(217, 17, 57, var(--tw-text-opacity));
}
.underline-text {
  border-bottom: 4px solid #d91139;
}
